
  
    <div>
      <h1> You've got a call! </h1>
    </div>

<p>
  <strong>Phone number:</strong>
  </p>

<p>
  <strong>Theme of call:</strong>
  </p>

<p>
  <strong>Description:</strong>
  </p>



## do poprawki
<%= link_to 'note it!', new_teleevent_path, class:"btn btn-success" %> 
    